:host ul {
    list-style: none;
    padding-left: 0 !important;
    margin: 8px 0px;
}

:host ul>li {
    display: inline;
}

:host ul>li:not(:first-child):before {
    content: "❭"; /* Insert content that looks like bullets */
    padding: 0px 8px;
}