:host #save {
    margin-right: 3px;
}

:host input {
    width: 100%;
}

:host /deep/ .ui-message,
:host /deep/ .ui-dropdown,
:host /deep/ .ui-calendar,
:host /deep/ .ui-calendar input {
    width: 100% !important;
}

:host /deep/ .ui-dropdown {
    margin-top: 2px;
}

:host .field:not(:first-child) {
    margin-top: 30px;
}

:host .no-float-label {
    display: block;
    margin-top: 7px !important;
    left: .25em;
}

:host .label { 
    color: #898989;
    font-size: 12px;
}
