<p-card title="{{grocerie.name}}">
    {{grocerie.quantity}} {{grocerie.unitOfMeasurement}} <br>
    Valor Unitário: {{grocerie.price | currency:'BRL':true}} <br>
    Validade: {{grocerie.expirationDate | date: "dd/MM/yyyy"}} <br>
    Fabricação: {{grocerie.dateFactory | date: "dd/MM/yyyy"}} <br>
    Perecível: {{grocerie.spoils | spoils}}
    <hr class="ui-widget-content" style="border-top:0">
    <button id="edit" type="text" (click)="edit(grocerie.index)" pButton icon="pi pi-pencil"></button>
    <button class="ui-button-danger" type="text" (click)="delete(grocerie.index)" pButton icon="pi pi-trash"></button>
</p-card>
